
.main {
  min-height: 100vh;
  padding: 2rem;
  color: var(--color-border);
}

.input { 
  position: fixed;
  bottom: 0;
  width: calc(100% - 4rem);
  margin: 2rem 0;
  z-index: 100;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  font-size: 2rem;
  padding: 8px 16px;
  border-radius: 3px;

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-medium:
    0px 0.6px 0.5px hsl(var(--shadow-color) / 0.24),
    0px 1.5px 1.3px -1.4px hsl(var(--shadow-color) / 0.19),
    0px 5.2px 4.5px -2.8px hsl(var(--shadow-color) / 0.14),
    -0.1px 14.8px 12.9px -4.2px hsl(var(--shadow-color) / 0.09);

  box-shadow: var(--shadow-elevation-medium);
}

.morse {
  font-size: 8rem;
}

.checkbox,
.color { 
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;



}

.letter {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: .5px solid var(--color-border);
  border-radius: 3px;
  margin-right: -.5px;
  position: relative;
  background-color: var(--color-bg);
  --shadow-color: 0deg 0% 0%;
  box-shadow: 
    0px 0.6px 0.5px hsl(var(--shadow-color) / 0.24),
    0px 1.5px 1.3px -1.4px hsl(var(--shadow-color) / 0.19),
    0px 5.2px 4.5px -2.8px hsl(var(--shadow-color) / 0.14),
    -0.1px 14.8px 12.9px -4.2px hsl(var(--shadow-color) / 0.09);
  margin: 0 3px;
}
.charArea {
  position: absolute;
  top: -1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}


.char {
  font-size: 3rem;
  font-weight: bold;
  line-height: .5;
  background-color: var(--color-bg);
  padding: 0 .5rem ;
  border-radius: 3rem;
  display: inline-block;
  color: var(--color-text);
}

.dots {
  line-height: .5;
  padding: 8px 16px;
}

.dot {
  color: var(--color-dot);
}

.dash {
  position: relative;
  bottom: .15rem;
  color: var(--color-dash);
}

.unknown,
.space {
  line-height: 0;
  font-size: 4rem;
  color: var(--color-text);
  position: relative;
}
.unknown {

  bottom: 1.5rem;
}
.space {
  bottom: 3rem;

}

.controls {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg);
  z-index: 200;
  transform: translateX(100%);
  transition: transform 200ms ease;
  @media screen and (min-width: 1024px) {
    width: 25vw;
  }
  &[aria-expanded="true"] {
    transform: translateX(0);
    --shadow-color: 0deg 0% 0%;
    box-shadow: -1px 0px 0.9px hsl(var(--shadow-color) / 0.11),
    -2.1px -0.1px 1.8px -0.6px hsl(var(--shadow-color) / 0.1),
    -4px -0.1px 3.5px -1.2px hsl(var(--shadow-color) / 0.08),
    -7.8px -0.2px 6.8px -1.8px hsl(var(--shadow-color) / 0.07),
    -14.6px -0.4px 12.7px -2.4px hsl(var(--shadow-color) / 0.06),
    -25.5px -0.6px 22.2px -3px hsl(var(--shadow-color) / 0.05),
    -41.6px -1px 36.2px -3.6px hsl(var(--shadow-color) / 0.04),
    -64px -1.5px 55.7px -4.2px hsl(var(--shadow-color) / 0.03);
  }
}

.controlsButton {
  --size: 30px;
  border-radius: 100%;
  background-color: var(--color-bg);
  color: var(--color-border);
  border: 1px solid var(--color-border);
  width: var(--size);
  height: var(--size);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(-.5 * var(--size));
  transform: translateX(calc(-1.5 * var(--size)));
  transition: transform 200ms ease;
  box-shadow: var(--high);
  [aria-expanded="true"] & {
    transform: translateX(0);
    box-shadow: none;
  }
  cursor: pointer;
  --shadow-color: 0deg 0% 0%;
--high :
    1px 1px 1.2px hsl(var(--shadow-color) / 0.11),
    2.1px 2.1px 2.6px -0.6px hsl(var(--shadow-color) / 0.1),
    4px 4px 4.9px -1.2px hsl(var(--shadow-color) / 0.08),
    7.8px 7.8px 9.6px -1.8px hsl(var(--shadow-color) / 0.07),
    14.6px 14.6px 18px -2.4px hsl(var(--shadow-color) / 0.06),
    25.5px 25.5px 31.4px -3px hsl(var(--shadow-color) / 0.05),
    41.6px 41.6px 51.2px -3.6px hsl(var(--shadow-color) / 0.04),
    64px 64px 78.7px -4.2px hsl(var(--shadow-color) / 0.03);
}
